:root {
  --primary: rgb(183, 183, 183);
  --secondary: rgba(255, 255, 255, 0.8);
  --tertiary: rgb(88, 88, 88);
  --tap-increment: -16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  background: var(--primary); 
  height: 100vh;
  font-family: "Inter", Helvetica, Arial, sans-serif;

  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
  font-smooth: always;
}

body::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

h1 { 
  font-size: 8px;
  font-weight: 800;
  text-transform: uppercase; 
  letter-spacing: .6em;
  color: var(--primary);
}
h5 {
  opacity: .4;
  font-size: 8px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-bottom: 3em;
}
p { 
  font-size: 16px; 
  font-weight: 300; 
  margin-bottom: 2.6em;
  max-width: 64ch;
  line-height: 160%;
} 

nav{
  position: fixed;
  bottom: -1em;
  left: 0;
  padding-top: 1em;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

nav a{
  font-size: 10px;
}

a { 
  color: var(--secondary);
  text-transform: uppercase;
  text-decoration: none;
  /* font-size: 10px; */
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.17em;
  float: left; 
  opacity: .8;
  margin-right: 1rem; 
  transition: opacity ease-in-out .4s;
  outline-offset: 5px;
}

a:hover{ opacity:1; cursor: pointer; }

.underline {
  position: relative;
  padding: 4px 8px;
}
.underline::after {
  content: '';
  position: absolute;
  bottom: -.5em;
  right: 0;
  width: 0;
  height: .12em;
  border-radius: 50%;
  background-color: var(--secondary);
  transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: -1;
}
@media (hover: hover) and (pointer: fine) {
  .underline:hover::after {
    left: 0;
    right: auto;
    width: 100%;
    transition: all .2s ease-out .1s;
  }
}

.cart{
    position: fixed;
    top: 0;
    right: 0;
    padding: 5em;
    min-height: 100vh;
    width: 400px;
    background: rgb(199, 200, 208);
  }
.cart-icon{
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 16px;
  height: 16px;
  margin-left: 5px;
  border-radius: 50%;
  transform: translateY(-1px);
  transition: all ease-in-out .3s;
}
.cart-icon span{ 
  opacity:0; 
  transform: translate(1px, -8px); 
}
.cart-icon:hover span{ 
  opacity: 1; 
  transform: translate(1px, 1px); 
  transition: all ease .5s; 
}

.cart-icon::after {
  content: "";
  position: absolute;
  top: var(--tap-increment);
  left: var(--tap-increment);
  right: var(--tap-increment);
  bottom: var(--tap-increment);
}
.cart-icon:hover, .cart-icon:focus, .cart-icon:active {
  width: 50px;
  height: 50px;
  transform: translateY(-17px);
  background: rgba(255, 255, 255, 0);
  border: 0.5px solid rgba(255, 255, 255, 0.8);
}

.loader{
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  background:rgb(243, 243, 242);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader p{
  position: fixed;
  color: var(--primary);
  font-size: 12px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.layout{
  background: rgb(19, 19, 19);
  color: var(--primary);
  width: 100vw;
  min-height: 100vh;
  padding: 5em 120px 80px 120px;
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-gap: 0 5em;
  overflow-y: scroll;
}

/* .layout > * {
  grid-column: 2;
} */

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}


.centerstage{
  position: fixed;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  user-select: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50vh - 60px);
  left: 15vmin;
  backdrop-filter: blur(10px);
  background-color: #a4a4a441;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  z-index: 200;
}

.slider {
  display: flex;
  gap: 30vw;
  position: absolute;
  transform: translate(0, 45%);
  user-select: none;
  overflow: visible;
  scroll-snap-type: x mandatory;
}

.placeholder{
  width: 50vmin;
  height: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404040;
  text-transform: uppercase;
  font-size: 6px;
  letter-spacing: 2px;
  background: rgb(252, 176, 69);
  background: radial-gradient(circle, rgba(252, 176, 69, 1) 0%, rgba(253, 83, 29, 1) 25%, rgba(252, 176, 69, 0) 40%);
}

.slider::-webkit-scrollbar {
  display: none;
  width: 0 !important;
} 

.card {
  scroll-snap-align: start;
  height: 50vmin;
  width: 50vmin;
  overflow: hidden;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}
.card .image{
  object-fit: cover;
  min-width: 50vmin;
  object-position:50% 50%;
}
.card img{ width: 100%; height: 50vmin; }
.card .content{
  position: absolute;
  bottom: -4em;
  width: 50vmin;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.slider .card:first-child { margin-left: calc(50vw - 25vmin); }
.slider .card:last-child { margin-right: calc(50vw - 25vmin); }
 
.scrollbar{
  position: fixed;
  top: 2em;
  left: calc(50% - 120px);
  z-index: 200;
}

@media only screen and (max-width: 1000px) {
  h1{ font-size: 16px; margin-bottom: 3em; }
  .layout{
    grid-template-columns: 1fr;
    padding: 8em 5% 6em 5%;
  }
  .slider {
    top: 0;
    transform: translate(0%, 70%);
    gap: 30vw;
  }
  .card {
    height: 40vmin;
    width: 40vmin;
    object-fit: cover;
  }
  .card:first-child {
    margin-left: calc(50vw - 20vmin);
  }
  .card:last-child {
    margin-right: calc(50vw - 20vmin);
  }
  .card .content {
    position: absolute;
    bottom: -4em;
    width: 40vmin;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
  }
  .close{
      position: fixed;
      top: calc(50% - 40px);
      left: calc(90% - 40px);
      width: 50px;
      height: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .underline { padding: 4px 0; }
}